.eye_icons {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

input::placeholder {
  font-size: 13px !important;
}

// Blacklist 50 Provider

.provider_search_icon {
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

.custom_switch {
  background: rgba(54, 74, 99, 0.25) !important;
  &.ant-switch-checked {
    background: #0b3a5d !important;
  }
}
